@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
section {
    display: flex;
    
}

.articale-part {
    width: 50%;
    padding-left: 5%;


}

h1 {
    font-weight: 900;
    font-size: 35PX;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    padding: 10px 35px;
}

.image-part img {
    width: 65%;
    padding-left: 10%;
}

.orange-color {
    color: orange;
}
.box{
    margin: 5px;
    box-shadow: 0px 2px 16px 3px #888888;
    border-radius: 10px;
    border-left: 5px solid red;
}
.box-two{
    margin: 5px;
    box-shadow: 0px 2px 16px 3px #888888;
    border-radius: 10px;
    border-left: 5px solid tomato;
}
footer{
    text-align: center;
    margin-top: 20px;
}